@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  mark {
    @apply dark:bg-slate-800 bg-gray-200 text-black dark:text-white rounded py-[4.5px] px-[6px];
  }

  iframe {
    @apply sm:w-full w-[calc(100%+16px*2)] h-[500px] border-none rounded overflow-hidden relative z-10 sm:m-0 m-[calc(16px*-1)];
  }
}

* {
  @apply antialiased;
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

[class="dark"] {
  --background: 212, 32%, 8%, 1;
  --foreground: 0 0% 98%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.main-container {
  @apply px-4 max-w-[1100px] mx-auto;
}

.post-paragraph,
.post-blockquote {
  @apply text-lg tracking-wide;
}

.post-blockquote::before {
  content: "“";
  font-family: "Times New Roman", serif;
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  left: -8px;
  top: 4px;
  opacity: 0.25;
}

.post-blockquote::after {
  content: "”";
  font-family: "Times New Roman", serif;
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  right: 0px;
  top: 4px;
  opacity: 0.25;
}

.list li::marker {
  @apply text-blue-600 dark:text-amber-500;
}

.list {
  @apply pl-8 mb-9 [&>li]:mb-4 [&>li]:pl-2 text-lg tracking-wide;
}
